* {
    box-sizing: border-box;
  }

img {
    max-width: 100%;
    height: auto;
  }

  body {
    font-family: Arial;
    margin: 0;
  }
  
  main {
    /* Turns this element into a flexbox */
    display: flex;
    height: 100vh;
  }

  a {

    color: #fff;
    
  }
  
  section {
    display: flex;
  }

  section a {
    color: #000000;

  }
  .main_text {
    text-indent: 0%;
    width: 75%;
  }
  
  .profile_photo {
    flex-shrink: 0;
  }
  
  .headerbar {
    /* Turns this element into a flexbox */
    display: flex;
    height: 70px;
  }
  .heading {
    height: 70px;
    width: 100%;
    background: #13293d;
    color: #fff;
  }
  
  .sidebar {
    height: 100vh;
    width: 25%;
    background: #13293d;
    margin: 0px;
    color: #fff;
    
  }

  .content {
    height: 100vh;
    width: 75%;

  }

  .Qualifications {
    /* A flex-basis of 200px sets the starting width */
    /* A flex-grow value of 1 allows the elements to evenly grow to fill the remaining space */
    flex: 1 0 200px;
    padding: 20px;
    text-align: center;
    border-style: solid;
    border-width: 0px;
  }

  .project_card {
    flex: 1 0 25%;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 0px;
  }
  
  .card header {
    padding: 20px;
    background: #ffffff;
    color: #fff;
  }

  @media screen and (max-width: 750px) {

    /* Change the header background */
    .heading {
      background: #bc0000;
    }
    .sidebar {
      background: #bc0000;
      order: 2;
      flex-direction: column;
    }
    section {
      display: flex;
      flex-direction: column;

  }

  @media screen and (max-width: 600px) {

    /* Change the header background */
    .heading {
      background: #00ca14;
    }
    .sidebar {
      background: #00ca14;
      order: 2;
      flex-direction: column;
    }
    section {
      display: flex;
      flex-direction: column;
  }