* {
    box-sizing: border-box;
  }

img {
    max-width: 100%;
    height: auto;
  }

  body {
    font-family: Arial;
    margin: 0;
    background-color: #1f1f1f;
  }
  
  main {
    /* Turns this element into a flexbox */
    display: flex;
    height: 100vh;
  }

  a {

    color: #fff;
    text-decoration: none;
  }
  
  section {
    display: flex;
  }

  .main_text {
    text-indent: 0%;
    width: 40%;
  }
  
  .profile_picture {
    flex: 0 0 25%;
    margin-right: 50px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
  }
  
  .headerbar {
    /* Turns this element into a flexbox */
    display: flex;
    height: 70px;
  }
  .heading {
    height: 70px;
    width: 100%;
    background: #13293d;
    color: #fff;
    padding-left: 50px;
    
  }
  
  .sidebar {
    height: 1000px;
    width: 20%;
    background: #13293d;
    margin: 0px;
    color: #fff;
    padding-left: 20px;
  }

  .profile {
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .contact_information {
   padding: 20px
  }

  .content {
    width: 80%;
    background-color: #1f1f1f;
    color: #fff;

  }

  .qualifications {
    /* A flex-basis of 200px sets the starting width */
    /* A flex-grow value of 1 allows the elements to evenly grow to fill the remaining space */
    flex: 1 0 50%;
    padding: 20px
  }

  .project_card {
    flex: 1 0 25%;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 0px;
  }
  
  .card header {
    padding: 20px;
    background: #ffffff;
    color: #fff;
  }

  @media screen and (max-width: 880px) {

    main {
      display: flex;
      height: 100vh;
      width: 100%;
      flex-direction: column;
    }

    section {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    .content {
      width: 100%;
    }

    .profile_picture {
      text-align: center;
    }

    .qualifications{
      text-align: center;
    }

    .heading {
      background: #bc0000;
    }
    .sidebar {
      background: #bc0000;
      flex-direction: column;
      width: 100%;
      text-align: center;
    }
    .profile {
      display: flex;
      flex-direction: row;
      text-align: center;


  }

  @media screen and (max-width: 600px){

    main {
      display: flex;
      height: 100vh;
      width: 100%;
      flex-direction: column;
    }

    section {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    .content {
      width: 100%;
    }

    .profile_picture {
      text-align: center;
    }
    .profile {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    .qualifications{
      text-align: center;
    }

    .headerbar{
      height: 100px;
      background: #32bc00;
      text-align: center;

    }

    .heading {
      background: #32bc00;
      height: 100px;
      
    }
    .sidebar {
      background: #32bc00;
      flex-direction: column;
      width: 100%;
      text-align: center;
    } 
  }
